body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.main{
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}
 
.main img{
    width: 90%;
    margin-top: 10%;
}

span{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1; 
}

.main_1 {
    height: 70%;
    width: 90%;
}
.main_1 div {
    height: 30%;
    width: 40%;
    background-color: aqua;
}